/* Document-wide elements */

body {
    background-color: #F2F2F2;
    color: #544837;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 26px;
    max-height: 100vh;
    margin: 20px;

}

a {
    color: #FF9900;
    font-weight: bold;
}

button {
    background-color: #FF9900;
    color: #FFF;
    font-weight: bold;
    border-radius: 4px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

.logo {
    max-width: 185px;
    max-height: 32px;
}

nav {
    margin-left: auto;
}

a, li {
color: #2F281E;
font-size: 14px;
text-decoration: none;
font-weight: normal;
list-style: none;
display: inline;
padding: 10px;
}


/* Header elements */

header {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

.sign-in {
    justify-content: flex-end;
}

.sign-in__button {
    background-color: #F2F2F2;
    color: #173A56;
    background-color: none;
    border: #BCD0E5 1px solid;
}

/* Main elements */


h1, h2, h3 {
    color: #2F281E;
}

section {
    display: flex;
}

/* Footer elements */