/* Document-wide elements */

body {
    background-color: #F2F2F2;
    color: #544837;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 26px;
    max-height: 100vh;
    max-width: 1400px;
    width: 80%;
    margin: auto;
}

.hero__video {
    color: #FF9900;
    font-weight: bold;
}

button {
    background-color: #FF9900;
    color: #FFF;
    font-weight: bold;
    border-radius: 4px;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

.logo_box {
    flex-wrap: wrap;
}

h1 {
    color: #173A56;
    font-size: 33px;
    font-weight: bold;
}

nav {
    margin-left: auto;
}

a, li {
color: #2F281E;
font-size: 14px;
text-decoration: none;
font-weight: normal;
list-style: none;
display: inline;
padding: 10px;
}


/* Header elements */

header {
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    justify-content: space-evenly;
}

.sign-in {
    justify-content: flex-end;
}

.sign-in__button {
    background-color: #F2F2F2;
    color: #173A56;
    background-color: none;
    border: #BCD0E5 1px solid;
}

/* Main elements */

h2 {
    font-size: 54px;
}

h3 {
    font-size: 36px;
}

h2, h3 {
    color: #2F281E;
    line-height: 54px;
}


h4 {
    font-size: 22px;
    line-height: 33px;
}

section {
    display: flex;
    justify-content: center;
}

.vector_cartoon {
    padding: 5%;
}

.section_features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section_features__margins {
    justify-content: center;
    flex-basis: 100%;
    text-align: center;
}

.section_features__content {
    justify-content: space-between;
    display: inline-flex;
    margin: 10px;

}

.section_features__content_card {
    max-width: 240px;
}

.lead-in {
    margin-top: 0px;
}

.product-managers__list {
    list-style: image();
}

/* Footer elements */

footer {
    display: flex;
    flex-wrap: wrap;
}

.nav_footer li {
    display: block;
    max-height: 205px;
}